apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: persons-finder
  namespace: persons-finder-dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: persons-finder
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
